body{
    background-color: rgb(218, 208, 194);
}

form label{ 
    display: block;
    font-size: 20px;
    color:rgb(14, 17, 187); 
    margin: 0 0 10px;
}
.copyright{
    background-color: rgb(129, 129, 56);

}